.container{
    height: 100vh;
    width: 100vw;
    padding: 20px;
    overflow-x: hidden;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.header p {
    font-family: Single Day;
    font-size: 47.33px;
    color: #72DB73;
}
.header img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px,solid,white;
}
.body{
    padding: 40px;

}
.body p{
    font-size: 2rem;
    font-weight: bold;
}

.genre{
    color:#878787;
    font-size: 1.5rem;
    font-weight: bold;
}